body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

#container > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#svg {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}